@import "tailwindcss";
.pretendard{font-family: "Pretendard", sans-serif;}


:root {
  --background: #000000;
  --foreground: #ff3b49;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

main:not(.dark) {
  --background: #ff3b49;
  --foreground: #000000;
  background: var(--background);
  color: var(--foreground);
}

.dialog {
  --background: #000000;
  --foreground: #ff3b49;
  background: var(--background);
  color: var(--foreground);
  &.reverse {
    --background: #ff3b49;
    --foreground: #000000;
    background: var(--background);
    color: var(--foreground);
  }
}
.video-dialog {
  --background: transparent;
  background: var(--background);
}

.ig-embed-list,
.ig-embed-modal {
  margin: 0 !important;
}

.ig-embed-list > span,
.ig-embed-modal > span,
.ig-embed-list > iframe,
.ig-embed-modal > iframe {
  width: 100% !important;
  height: 100% !important;
}

body {
  background: var(--background);
  color: var(--foreground);
}

.logo_wrap a{transition: ease 1s transform; transition-delay: 0.0s;}
.logo_wrap a:nth-child(even) {transform: translateX(-110%);}
.logo_wrap a:nth-child(odd) {transform: translateX(110%);}
.ani.active.logo_wrap a:nth-child(odd){transform: translateX(0%);}
.ani.active.logo_wrap a:nth-child(even){transform: translateX(0%);}
main{overflow: hidden;}


.ani.active .fade-slice{opacity: 1;}
.fade-slice {
  opacity: 0;
  display: block;
  width: 100%;
}

.fade-slice .line {
  overflow: hidden;
  display: block;
  width: auto;
}

.fade-slice .line .inner {
  transform: translateY(100%);
  transition: transform 0.6s ease;
  display: inline-block;
  white-space: nowrap;
}

/* stagger delay */
.fade-slice .line:nth-child(1) .inner { transition-delay: 0.1s; }
.fade-slice .line:nth-child(2) .inner { transition-delay: 0.2s; }
.fade-slice .line:nth-child(3) .inner { transition-delay: 0.3s; }
.fade-slice .line:nth-child(4) .inner { transition-delay: 0.4s; }
.fade-slice .line:nth-child(5) .inner { transition-delay: 0.5s; }
.fade-slice .line:nth-child(6) .inner { transition-delay: 0.6s; }
.fade-slice .line:nth-child(7) .inner { transition-delay: 0.7s; }
.fade-slice .line:nth-child(8) .inner { transition-delay: 0.8s; }
.fade-slice .line:nth-child(9) .inner { transition-delay: 0.9s; }
.fade-slice .line:nth-child(10) .inner { transition-delay: 1s; }

.ani.active .fade-slice .line {
  overflow: hidden;
  display: block;
}

.ani.active .fade-slice .line .inner {
  transform: translateY(0);
}
.fade-cw{overflow: hidden;}
.fade-cw u, .fade-cw span{transition: all 1s cubic-bezier(0,0,.43,1.06), font-size 0s ease;}
.fadeCover-0{opacity: 0; transition: all 1s cubic-bezier(0,0,.43,1.06); transition-delay: 0.0s!important;}
.fadeCover-0-1{opacity: 0; transition: all 1s cubic-bezier(0,0,.43,1.06); transition-delay: 0.1s!important;}
.fadeCover-0-2{opacity: 0; transition: all 1s cubic-bezier(0,0,.43,1.06); transition-delay: 0.2s!important;}
.fadeCover-0-3{opacity: 0; transition: all 1s cubic-bezier(0,0,.43,1.06); transition-delay: 0.3s!important;}
.fadeCover-0-4{opacity: 0; transition: all 1s cubic-bezier(0,0,.43,1.06); transition-delay: 0.4s!important;}
.fadeCover-0-5{opacity: 0; transition: all 1s cubic-bezier(0,0,.43,1.06); transition-delay: 0.5s!important;}
.fadeCover-0-6{opacity: 0; transition: all 1s cubic-bezier(0,0,.43,1.06); transition-delay: 0.6s!important;}
.fadeCover-1{display: block; opacity: 0; transform: translateY(130%); transition: all 1s cubic-bezier(0,0,.43,1.06); transition-delay: 0.0s!important;}
.fadeCover-2{display: block; opacity: 0; transform: translateY(130%); transition: all 1s cubic-bezier(0,0,.43,1.06); transition-delay: 0.1s!important;}
.fadeCover-3{display: block; opacity: 0; transform: translateY(130%); transition: all 1s cubic-bezier(0,0,.43,1.06); transition-delay: 0.2s!important;}
.fadeCover-4{display: block; opacity: 0; transform: translateY(130%); transition: all 1s cubic-bezier(0,0,.43,1.06); transition-delay: 0.3s!important;}
.fadeCover-5{display: block; opacity: 0; transform: translateY(130%); transition: all 1s cubic-bezier(0,0,.43,1.06); transition-delay: 0.4s!important;}
.fadeCover-6{display: block; opacity: 0; transform: translateY(130%); transition: all 1s cubic-bezier(0,0,.43,1.06); transition-delay: 0.5s!important;}
.fadeCover-7{display: block; opacity: 0; transform: translateY(130%); transition: all 1s cubic-bezier(0,0,.43,1.06); transition-delay: 0.6s!important;}

.ani.active .fadeCover-0,
.ani.active .fadeCover-0-1,
.ani.active .fadeCover-0-2,
.ani.active .fadeCover-0-3,
.ani.active .fadeCover-0-4,
.ani.active .fadeCover-0-5,
.ani.active .fadeCover-0-6,
.ani.active .fadeCover-1,
.ani.active .fadeCover-2,
.ani.active .fadeCover-3,
.ani.active .fadeCover-4,
.ani.active .fadeCover-5,
.ani.active .fadeCover-6,
.ani.active .fadeCover-7{transform: translateY(0); opacity: 1;}

@media(min-width:1025px){
  main.max-w-md, .fixed.max-w-md{max-width:600px;}
}

.video_btn_w button{background-color: #ff3b49; color: #000; transition: ease 0.3s all; border: 1px solid #000; cursor: pointer;}
.video_btn_w button:hover{background-color: #000; color: #ff3b49;}
.video_btn_w button:hover svg path{stroke: #ff3b49;}
.video_btn_w div li{background-color: #ff3b49; color: #000; transition: ease 0.3s all;}
.video_btn_w div li:hover{background-color: #000; color: #ff3b49;}

.instagram-media, .instagram-media *{border-radius: 0!important;}
.instagram-media{background: #000!important;}
.instagram-media > span,
.instagram-media iframe{background: #000!important;}
.hover_el .hover_target{opacity: 0;}
.hover_el:hover .hover_target{opacity: 1;}

.loader {
  width: 60px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side,#ffffff 90%,#ffffff00);
  background:
    var(--_g) 0%   50%,
    var(--_g) 50%  50%,
    var(--_g) 100% 50%;
  background-size: calc(100%/3) 50%;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
    20%{background-position:0%   0%, 50%  50%,100%  50%}
    40%{background-position:0% 100%, 50%   0%,100%  50%}
    60%{background-position:0%  50%, 50% 100%,100%   0%}
    80%{background-position:0%  50%, 50%  50%,100% 100%}
}

.loading_btn{}
.btn_arrow{width: 14px; height: 14px; position: relative; transform: rotate(45deg);}
.btn_arrow::before, .btn_arrow::after{content: ""; display: block; position: absolute; background-color: #fff;}
.btn_arrow::before{width: 100%; height: 4px; left: 0; bottom: 0;}
.btn_arrow::after{width: 4px; height: 100%; right: 0; bottom: 0;}
